<?xml version="1.0" encoding="utf-8"?>
<!--
 Patrick John Haskins
 Zachary Evans
 CS7020 - Term Project
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.otasyn.cardgames"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.game.demo.FirebaseActivity"
            android:label="@string/titleActivityGame" >
        </activity>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.FriendsListActivity"/>
        <activity android:name=".activity.GamesListActivity"/>
        <activity android:name=".activity.game.demo.AndEngineActivity"/>
        <activity android:name=".activity.game.demo.Cards46x64Activity"/>
        <activity android:name=".activity.game.demo.Cards92x128Activity"/>
        <activity android:name=".activity.game.demo.Cards184x256Activity"/>
        <activity android:name=".activity.game.demo.CardsFullSizeActivity"/>
        <activity android:name=".activity.DemosActivity"/>
        <activity android:name=".activity.game.BlackjackGameActivity"/>
        <activity android:name=".activity.game.FivesGameActivity"/>
        <activity android:name=".activity.game.FreestyleGameActivity"/>
        <activity android:name=".Asdf"/>
    </application>

</manifest>